.title{
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  svg{
    padding: 5px;
    margin-right: 8px;
    border-radius: 60%;
    height: 2.5rem;
    width: 2.5rem;
  }
}