.card{
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 250px;
  overflow: hidden;
  div{
    position: relative;
    a{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img{
        height: 162px;
        width: 128px;
        border-radius: 0.2rem 1rem 0.2rem 0.2rem;
        box-shadow: 2px 3px 10px  black;
      }
      div{
        width: 128px;
        bottom:0;
        left:8px;
        p{
          color: black;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    button{
      background-color: transparent;
      position:absolute;
      height:auto;
      width:auto;
      top: 10px;
      left: 13px;
      z-index:2;
      svg{
        height: 26px;
        width: auto;
      }
    }
  }
}