.card{
  background-color: transparent;
  display: flex;
  justify-content: center;
  div{
    position: relative;
    a{
      box-shadow: 1px 2px 6px #000;
      border-radius: 0.2rem 1rem 0.2rem 0.2rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img{
        height: 170px;
        width: 128px;
      }
      div{
        position:absolute;
        bottom: 0px;
        z-index: 2;
        width: 128px;
        padding: 0px 4px;
        p{
          color: black;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    a:after{
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    a:hover::after{
      background: rgb(249,213,215);
      background: linear-gradient(0deg, rgba(249,213,215,1) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
    }
    button{
      background-color: transparent;
      position:absolute;
      height:auto;
      width:auto;
      top: -5px;
      left: 13px;
      z-index:2;
      svg{
        height: 26px;
        width: auto;
      }
    }
  }
}