.card{
  max-height: 170px;
  max-width: 128px;
  border-radius: 0.2rem 1rem 0.2rem 0.2rem;
  overflow: hidden;
  h3{
    width:90%;
    bottom:0;
    position:absolute;
    left:10px;
    z-index:1;
    color: black;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button{
    background-color: transparent;
    height:fit-content;
    width:fit-content;
    position:absolute;
    top:0;
    left:10px;
    z-index:1;
    svg{
      height: 24px;
      width: auto;
    }
  }
}