nav{
  h1{
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 1.5;
  }
  button.btn{
    background-color: $gray-100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    svg{
      height: 24px;
      width: 24px;
    }
  }
  button.btn:hover{
    background-color: theme-color("secondary");
  }
  a.color{
    color:$gray-100;
    span{
      background-color: $gray-100;
      color: theme-color("primary");
    }
  }
  a.color:hover{
    color: theme-color("secondary");
    span{
      color:theme-color("secondary");
    }
  }
}
main{
  background-color: $gray-100;
}