@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  font-family: 'Merriweather';
}
nav{
  font-family: 'Lato';
}
