//Toast Open
html,
body,
#root {
  height: 100vh;
  position: relative;
  overflow-y: auto;
}
.no-scroll {
  overflow: hidden;
}

//Custom scss
main{
  background-color:$white;
  font-family: 'Merriweather';
  article{
    flex-grow: 1;
    h2{
      svg{
        background-color: theme-color("secondary");
        color:theme-color("primary");
      }
    }
  }
}
//#region NAVBAR
nav{
  font-family: 'Lato';
  button.btn{
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: $white;
    color:theme-color("primary");
    svg{
      height: 90%;
      width: auto;
    }
  }
  button.btn:hover{
    background-color: theme-color("secondary");
    border: 1px solid darken($color: $red, $amount: 5);
    color:$red;
  }
  button.sidebar-toggle{
    display: none;
    background: transparent;
    border-color: transparent;
    color: $white;
    font-size: 2rem;
    height: 34px;
    width: auto;
    padding: 0;
  }
  a{
    color: $white;
    span{
      background-color: $white;
      color:theme-color("primary");
    }
  }
  a:hover{
    text-decoration: none;
    color:theme-color("secondary");
    span{
      background-color: theme-color("secondary");
    }
  }
}
//#endregion

