@media (min-width: 992px) {
  main{
    display: flex;
    font-family: 'Merriweather';
    nav.navbar{
      align-items: flex-start;
      flex-direction: column;
      max-width: 25vw;
      min-width: 25vw;
      min-height: 100vh;
      a.navbar-brand{
        margin-top: 16px;
      }
      aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

      }
      @include media-breakpoint-up(xl){
        max-width: 20vw;
        min-width: 20vw;
      }
    }
  }
}